@media screen and (max-width: 500px) {

    body {
        position: relative;
        font-family: 'Trebuchet MS';
    }

    header {
        color: white;
        text-align: center;
        font-family: 'Trebuchet MS';
        background-color: #7AB7D1;
        padding-top: 1px;
        padding-bottom: 1px;
        width: 100%;
    }

    .nav {
        background-color: #F4F4F4;
        margin-top: -10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid #4B4B4B;
        border-radius: 20px;
        position: sticky;
        top: 5px;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    
    .rqaContainer {
        text-align: center;
        background-color: #F4F4F4;
        position: sticky;
        top: 40px;
        margin-top: 3px;
        padding: 5px;
        border: 2px solid #4B4B4B;
        border-radius: 20px;
    }

    a {
        font-size: 15px;
        font-family: 'Trebuchet MS';
        text-decoration: none;
        color: #4B4B4B;
        margin-left: 10px;
        margin-right: 10px;
    }

    .banner {
        z-index: -1;
        position: relative;
    }

    .bannerimg {
        max-width: 100%;
        margin-top: -60px;
        height: auto;
        display: block;
    }

    .quote {
        position: absolute;
        top: 60%; 
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center; 
        width: 95%; 
        max-width: 95px; 
        padding-top: 0px; 
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgba(122, 183, 209, 0.8); 
        border-radius: 10px; 
    }

    .quote h2 {
        color: #fff;
        font-size: 10px;
    }

    .description {
        text-align: center;
        font-size: 14px;
    }

    .description h2 {
        color: #fff;
        background-color: rgba(122, 183, 209, 1);
        border-radius: 20px;
        width: 50%;
        padding: 10px;
        margin: 0 auto;
        margin-top: 20px;
    }

    span {
        color: #005897;
    }

    #image-slider {
        overflow: hidden;
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        align-items: center;
        z-index: -1;
    }
      
    img {
        width: 100%;
        display: none;
    }
      
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid #4B4B4B;
        border-radius: 20px;
        font-family: 'Trebuchet MS';
        font-weight: bold;
        color: #4B4B4B;
    }
      
    #prev-btn {
        left: 10px;
    }
      
    #next-btn {
        right: 10px;
    }

    .lochr {
        display: flex;
    }

    ul {
        padding: 0;
    }

    .hours {
        padding-left: 40px;
    }

    li {
        list-style: none;
    }

    .dir {
        font-size: 15px;
        font-family: 'Trebuchet MS';
        text-decoration: underline;
        color: #4B4B4B;
        margin-left: 0px;
        margin-right: 10px;
    }

    .location h2 {
        color: #fff;
        background-color: rgba(122, 183, 209, 1);
        border-radius: 20px;
        width: 70%;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 20px;
    }

    .missionabout{
        background-color: rgba(122, 183, 209, 1);
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .missionabout p {
        padding-top: 4px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
    }

    .missionabout a {
        text-decoration: underline;
    }

    footer {
        font-size: 13px;
    }

    .copyright {
        color: #7c7c7c;
        text-align: center;
    }
}